<div class="container mt-2">
    <div class="display-4">Admin dashboard</div>
    <hr>
    <div class="content">
        <div class="row">
            <div class="col-md-4 mt-1">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="add new community" #cname name="community"
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="addCommunity(cname)"
                            id="button-addon2">add</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div>
                    <mat-form-field>
                        <mat-label>SELECT COMMUNITY</mat-label>
                        <mat-select multiple name="communityName" ngModel>
                            <mat-option *ngFor="let optn of commoptions" [value]="optn.communityName"
                                (click)="getmembers(optn.communityName)">
                                {{optn.communityName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <button class="btn btn-info m-1" (click)="changetoTopics()">user topics</button>
                <button class="btn btn-info m-1" (click)="changetoComments()">user comments</button>
            </div>
        </div>

        <div class="container" *ngIf="blogs">
            <div class="row" *ngFor="let post of allblogs">
                <div class="blogpost">
                    <div class="text-right">
                        <button class="btn btn-success btn-sm m-2"
                            (click)="approveBlog(post.blogId,post)">approve</button>
                        <button class="btn btn-warning btn-sm m-2"
                            (click)="rejectBlog(post.blogId,post)">reject</button>
                        <button class="btn btn-danger btn-sm m-2" (click)="deleteBlog(post.blogId)">delete</button>
                    </div>
                    <h3 class="blog-title">{{post.blogTitle}}</h3>
                    <h3 class="blog-title">{{post.category}}</h3>
                    <div>
                        <i class="fas fa-user"></i> Author: <p>{{post.user}}</p>
                    </div>
                    <p>{{post.description}}</p>
                    <hr>
                </div>
                <hr>
            </div>
        </div>
        <div class="container" *ngIf="topics">
            <!-- topic sectoin -->
            <div>
                <h3>topic section</h3>
                <hr>
                <div *ngFor="let topic of topicArray">
                    <p>{{tpoic.topicName}}</p>
                </div>
                <button class="btn btn-light btn-sm " (click)="topicstoBlogs()">&laquo;back</button>
            </div>
        </div>
        <div class="container" *ngIf="comments">
            <!-- comments section -->
            <div>
                <h3>comments section</h3>
                <hr>
                <div *ngFor='let cmt of allcomments'>
                    <h4>comments:</h4>
                    <p>{{cmt.comment}}</p>
                </div>
                <button class="btn btn-light btn-sm" (click)="commentstoBlogs()">&laquo;back</button>
            </div>
        </div>
    </div>
</div>