<div class="container mt-3">
    <div>
        <div class="display-4">Registration From</div>
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <form #Rform="ngForm" (ngSubmit)="onSubmit(Rform.value)">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>USERTYPE</mat-label>
                        <input matInput type="text" required name="userType" ngModel>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>USERNAME</mat-label>
                        <input matInput type="text" required name="username" ngModel>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>EMAIL</mat-label>
                        <input matInput type="email" required name="emailId" ngModel>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>PASSWORD</mat-label>
                        <input matInput type="password" required name="password" ngModel>
                        <mat-hint>password mut be atleast 8 characters</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>SELECT COMMUNITY</mat-label>
                        <mat-select multiple name="CommunityName" ngModel >
                            <mat-option *ngFor="let optn of options" [value]="optn.CommunityName">
                                {{optn.CommunityName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="primary" type="submit">SIGN UP</button> 
                </div>
                <div class="mt-4">
                    <h4>Already have account<a href="/login">click to sign in</a></h4>
                 </div>
            </form>
        </div>
    </div>
</div>


