<div>
    <div class="container mt-3">
        <div class="display-4">Login Form</div>
        <hr>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div>
                        <mat-form-field appearance='outline'>
                            <mat-label>USERNAME</mat-label>
                            <input matInput type="text" required formControlName="username">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance='outline'>
                            <mat-label>PASSWORD</mat-label>
                            <input matInput type="password" required formControlName="password">
                            <mat-hint>password mut be atleast 8 characters</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance='outline'>
                            <mat-label>USERTYPE</mat-label>
                            <mat-select formControlName="userType">
                                <mat-option value="admin">admin</mat-option>
                                <mat-option value="user">user</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="text-center">
                        <button mat-raised-button color="primary" type="submit">SIGN IN</button>
                    </div>
                    <div class="text-center mt-4">
                       <h4>New around here? <a href="/register">click to Sign up</a></h4>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
