<div class="font-weight-light">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark navbar-expand-sm justify-content-center">
    <div class="container">
      <a class="navbar-brand" routerLink="#">Blogger Forum</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register" routerLinkActive="active"
              *ngIf="!_blogservice.loggedIn()">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!_blogservice.loggedIn()">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="_blogservice.loggedIn()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>


<router-outlet></router-outlet>


<!-- *ngIf="_blogservice.loggedIn()" -->
<!-- <li class="nav-item">
            <a class="nav-link" routerLink="mytopic" routerLinkActive="active" *ngIf="_blogservice.loggedIn()">my topic</a>
          </li> -->
<!-- <li class="nav-item">
            <a class="nav-link" routerLink="mycomment" routerLinkActive="active" *ngIf="_blogservice.loggedIn()">my comments</a>
          </li> -->