<div class="content">
  <div class="container mt-2">
    <div class="row">
      <div class="col" *ngIf='post'>
          <div class="display-4 m-2">{{post.blogTitle}}</div>
          <p>{{post.category}}</p>
          <span>
            <p>by {{post.author}}</p>
          </span>
          <hr>
          <p [innerHTML]="post.description"></p>
          <hr>
        <form #post='ngForm' (ngSubmit)="OnClick(post.value)" >
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="comment here" name="comments" aria-describedby="button-addon2" ngModel>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">post</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div *ngFor='let cmt of usercomments'>
      <h4>comments:</h4>
      <p>{{cmt.comment}}</p>
    </div><hr>

  </div>
</div>


<!-- <form #post='ngForm' (ngSubmit)="OnClick(post.value)">
  <div class="display-4 m-2">{{post.blogTitle}}</div>
  <p>{{post.category}}</p>
  <span>
    <p>by {{post.author}}</p>
  </span>
  <hr>
  <p [innerHTML]="post.description"></p>
  <hr>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="comment here" name="comments" aria-describedby="button-addon2" ngModel>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon2">post</button>
    </div>
  </div>
</form> -->