<div class="container mt-2">
    <div class="display-4 text-center bg-light">all your comments will appear here</div>
  <hr>
  <div>
    <div *ngFor='let cmt of comments'>
      <h4>comments:</h4>
      <p>{{cmt.comment}}</p>
      <button class="btn btn-light mt-1" (click)='deletecomment(cmt)'>delete</button>
      <!-- <button class="btn btn-light mt-1" (click)='commentoncomment()'>delete</button> -->
    </div><hr>
  </div>
</div>