<div class="container mt-2">
  <div class="display-4 text-center bg-light">Welcome to bloggers forum</div>
  <hr>
</div>

<div class="content mt-3">
  <div class="container mt-2">
    <div class="row" *ngFor="let post of approvedposts ">
      <div class="blogpost">
        <h3 class="blog-title">{{post.blogTitle}}</h3>
        <h3>{{post.category}}</h3>
        <div>
          <i class="fas fa-user"></i> Author: <p>{{post.user}}</p>
        </div>
        <p>{{post.description}}</p>
        <div>
          <a type="button" href="/postsbyid/{{post.blogId}}" class="read-more btn btn-default">Read More</a>
        </div>
        <hr>
      </div>
      <hr>
    </div>
  </div>
</div>