<div class="content">
    <div class="container mt-2">
        <div class="display-4">User dashboard</div><hr>
        <div class="h4 text-right mr-auto p-2">loggedin as {{userobj.username}}</div>
        <div class="bg-light p-3">
            <a class="m-1" href="/mytopic">my topic</a>
            <a class="m-1" href="/mycomment">my comments</a>
        </div>

        <div *ngIf=post>
            <div class="blogpost">
                <h3 class="blog-title">{{post.blogTitle}}</h3>
                <h3>{{post.category}}</h3>
                <div>
                    <i class="fas fa-user"></i> Author: <p>{{post.user}}</p>
                </div>
                <p>{{post.description}}</p>
                <div>
                    <a type="button" href="/postsbyid/{{post.blogId}}" class="read-more btn btn-default">Read More</a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>