<div class="add-post-content">
  <div class="container">
    <div>
      <h1 class="new-post-title">Create new Article</h1>
    </div>
    <hr>
    <div *ngIf="norow">
      <form #topicform='ngForm' (ngSubmit)='addtopic(topicname.value)'>
        <div class="m-2">
          <label>Enter your topic name</label>
          <input type="text" class="form-control" #topicname name="topicName" ngModel>
        </div>
        <div class="m-2">
          <label>select your community to add new topic</label>
          <select name="communityId" class="custom-select" *ngFor='let c of commlist' ngModel >
            <option [value]="c.communityId">{{c.communityName}}</option>
          </select>
        </div>
        <div class="m-2">
          <button class="btn btn-outline-secondary" type="submit">add topic</button>
        </div>
      </form>
    </div>
    <div class="m-2 text-right">
      <button class="btn btn-primary" (click)=changetoarticle()>add article</button>
    </div>
    <hr>

    <!-- add blog form -->
    <form #ref="ngForm" (ngSubmit)="addPost(ref.value)" *ngIf="article">
      <div class="form-group">
        <label class="new-post-title">community name</label>
        <input type="text" name="communityName" placeholder="type your selected community name" class="form-control"
          ngModel>
      </div>
      <div class="form-group">
        <label class="post-title">Title</label>
        <input type="text" name="blogTitle" class="form-control" placeholder="Title" ngModel>
      </div>
      <div class="form-group">
        <label class="post-content">Body</label>
        <editor name="description" ngModel></editor>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-light m-1" (click)=changetoblog()>go back</button>
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>

  </div>
</div>